name: Feature Branch

on:
  push:
    branches:
      - '*'
      - '!master'
      - '!release'

jobs:

  unit-test:
    name: Unit Test
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Maven Package
        run: mvn clean package -DskipTests
      - name: Maven Verify
        run: mvn clean verify

